{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>联金数据库查询系统</title>
<style type="text/css">
	#dv{
		margin:0 auto;
		padding-left: auto;
		width:427px;
	}
	#im{
		height: 73px;
		width: 255px;
	}

</style>
</head>
<body>
	<DIV id="dv" >
	<img src="{% static 'images/1528175965.png' %}" id="im">
	<h1>联金数据库查询系统</h1>
	<form action="{% url 'orders:login' %}" method="post" >
		{% csrf_token %}
		用户名：<input type="text" name="username"><br>
		密码  &nbsp&nbsp&nbsp：<input type="password" name="password"><br>
		<button id="bt">登录</button>


	</form>
	</DIV>

</body>
</html>